<!DOCTYPE html>
<html>
    <title>Zomato</title>
    <link rel="stylesheet" href="/stylesheets/style2.css">
  <body>
    
    <form >
      <h1>Thank You for purchasing in our site</h1>
      <h2>Your order is being prepared</h2>
    </form>
  </body>
</html>
